body {
    padding-bottom: 1000px;
}

.col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.col1 {
    background-color: lightblue;
}

.col2 {
    background-color: lightblue;
}

.col3 {
    background-color: lightblue;
}

.col4 {
    background-color: lightblue;
}

.subscribe {
    background-color: #cc0000;
    color: white;
    height: 36px;
    width: 100px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.subscribe:hover {
    opacity: 0.8;
}

.subscribe:active {
    opacity: 0.5;
}

.join {
    background-color: white;
    height: 36px;
    width: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #065fd4;
    color: #065fd4;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
    vertical-align: top;
}

.join:hover {
    background-color: #065fd4;
    color: white;
}

.join:active{
    opacity: 0.7;
}

.tweet {
    background-color: #1d9bf0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    height: 36px;
    width: 74px;
    border: none;
    font-weight: 1000;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: middle;
}

.tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet:active{
    opacity: 0.7;
}

.cat-profile {
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
}

.tweet-input {
    border: none;
    font-size: 20px;
    vertical-align: middle;
}

.tweet-input:focus {
    outline: none;
}

.enter-name {
    display: block;
    margin-top: 10px;
}

.enter-email {
    margin-top: 5px;
}

.customer-support {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.customer-service {
    margin-top: 10px;
    border: 1px solid grey;
    width: 500px;
}

.google-logo {
    width: 70px;
    margin-right: 10px; /* Adding some space between logo and input field */
}


.search-box {
    border-radius: 20px;
    padding: 10px 80px 10px 10px;
    border: none;
    width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.search-box:focus {
    outline: none;
}
.request-ride {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pickup-station {
    padding: 10px;
    background-color: rgb(235, 228, 228);
    font-size: 8px;
    display: block;
    margin-bottom: 5px;
    padding-right: 200px;
    color: rgb(104, 101, 101);
    border: none;
}

.destination {
    padding: 10px;
    background-color: rgb(235, 228, 228);
    font-size: 8px;
    display: block;
    padding-right: 200px;
    margin-bottom: 20px;
    color: rgb(104, 101, 101);
    border: none;
}

.pickup-station:focus,
.destination:focus {
    outline: none;
}

.request-now {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.schedule-later {
    background-color: 235, 228, 228;
    color: rgb(96, 92, 92);
    padding: 10px 15px;
    border: none;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

.red-square {
    width: 50px;
    background-color: red;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
}

.green-circle{
    width: 50px;
    height: 50px;
    background-color: green;
    margin-top: 10px;
    border-radius: 25px;
    display: inline-block;
}

.cat-tweeter {
    margin: 20px;
    width: 480px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.tweet-header {
    background-color: #1d9bf0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    border: none;
    font-weight: 1000;
    margin-left: 70px;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: middle;
}

.google-search {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Adding some padding for better appearance */
}

.cat-image {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    vertical-align: middle;
    object-fit: cover;
}

.catimage {
    display: inline-block;
    margin-right: 10px;
    width: 60px;
}

.cat-details {
    display: inline-block;
    line-height: 3px;
    font-size: 17px;
    vertical-align: middle;
    margin: 0;
}

.fb-profile{
    margin-top: 30px;
}

.follow-div {
    display: inline-block;
    margin-left: 100px;
}

.oliver {
    font-family: Roboto;
    font-weight: 550;
}

.the-cat,
.popular {
    color: rgb(98, 94, 94);
}

.follow-btn {
    background-color: rgb(29, 115, 172);
    color: white;border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}

.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    align-items: center;
}


.cat1,
.cat2,
.cat3 {
    box-shadow: 2px 2px 6px rgba(92, 91, 91, 0.8);
}

.profile-pic {
    width: 100%;
    object-fit: contain;
}

.cat-name {
    font-family: Roboto;
    font-weight: 900;
    margin: 2px 0 0 5px;
}

.mutuals-profile-pic{
    display: inline-block;
    vertical-align: middle;
}

.mutuals {
    margin: 0 0 0 5px;
}

.mutuals-details {
    display: inline-block;
    vertical-align: middle;
}

.mutuals-profile {
    width: 20px;
}

.add-friend {
    margin: 0 0 10px 5px;
}

.catimg {
    width: 100%;
}

.add-friend-btn {
    background-color: rgb(29, 115, 172);
    color: white;border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}


