h1 {
    font-family: Roboto;
    font-size: 130%;
    line-height: 26px;
}

p {
    color: gray;
}

.shop {
    background-color: rgb(227, 65, 64);
    text-align: center;
    padding: 20px;
    color: white;
}

.shop-now:hover {
    text-decoration: underline;
    cursor: pointer; 
}

.search-box {
    border-radius: 20px;
    padding: 10px 80px 10px 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.search-box:focus {
    outline: none;
}